@import "tailwindcss";

@layer utilities {
  .font-bmhanna {
    font-family: var(--font-bmhanna);
  }

  .font-noto-sans {
    font-family: var(--font-noto-sans);
  }
}

@theme {
  --color-mint: #00a495;
}

button {
  cursor: pointer;
}
