@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-mint: #00a495;
}

@layer utilities {
  .font-bmhanna {
    font-family: var(--font-bmhanna);
  }

  .font-noto-sans {
    font-family: var(--font-noto-sans);
  }
}

@media (max-width: 768px) {
  .toastui-editor-popup {
    position: fixed !important;
    inset: 12px !important;
    margin: auto !important;

    width: auto !important;
    max-width: 420px !important;

    height: auto !important;
    max-height: 35vh !important;
    overflow: hidden !important;
    box-sizing: border-box !important;
  }

  .toastui-editor-popup-body {
    max-height: calc(70vh - 100px) !important;
    overflow-y: auto !important;
  }
}

/* Toast Viewer */
.toast-viewer {
  background: white;
  color: #111;
}

.dark .toast-viewer {
  background: lab(8.30603% 0.618205 -2.16572);
  color: #e4e4e7;
}

.dark .toast-viewer p {
  color: #e4e4e7;
}

.dark .toast-viewer h1,
.dark .toast-viewer h2,
.dark .toast-viewer h3,
.dark .toast-viewer h4,
.dark .toast-viewer h5,
.dark .toast-viewer h6 {
  color: #f9fafb;
}

.dark .toast-viewer a {
  color: #60a5fa;
}

.dark .toast-viewer code {
  background: #1e293b;
  color: #facc15;
}

.dark .toast-viewer pre {
  background: #020617;
  color: #e5e7eb;
}

.dark .toast-viewer blockquote {
  border-left: 4px solid #475569;
  color: #cbd5f5;
}

.dark .toast-viewer table {
  border-color: #334155;
}
.dark .toast-viewer th,
.dark .toast-viewer td {
  border-color: #334155;
}
.dark .toast-viewer th {
  background: #020617;
}

/* Toast Editor */
/* 기본 */
.toast-editor {
  background: white;
  color: #111;
}

/* 다크모드 */
.dark .toast-editor {
  background: lab(8.30603% 0.618205 -2.16572);
  color: #e4e4e7;
}

/* 에디터 전체 UI */
.dark .toast-editor .toastui-editor-defaultUI {
  background: lab(8.30603% 0.618205 -2.16572);
  border-color: lab(35.1166% 1.78212 -6.1173);
}

/* 툴바 */
.dark .toastui-editor-defaultUI-toolbar,
.dark .toastui-editor-mode-switch {
  background: lab(15.7305% 0.613764 -2.16959);
  border-color: lab(35.1166% 1.78212 -6.1173);
}

.dark .toastui-editor-mode-switch .tab-item {
  background: lab(47.8878% 1.65477 -5.77283);
  color: lab(91.6229% -0.159115 -2.26791);
  border: none;
}

.dark .toastui-editor-mode-switch .tab-item.active {
  background: lab(26.8019% 1.35387 -4.68303);
  color: lab(91.6229% -0.159115 -2.26791);
  border: none;
}

.dark .toastui-editor-toolbar-icons {
  border-color: lab(15.7305% 0.613764 -2.16959);
}

.dark .toastui-editor-toolbar-divider {
  background: lab(35.1166% 1.78212 -6.1173);
}

/* 작성 영역 */
.dark .toast-editor .toastui-editor-contents {
  background: lab(8.30603% 0.618205 -2.16572);
  color: #e4e4e7;
}

.dark .toastui-editor-main-container .toastui-editor-md-splitter {
  background: lab(35.1166% 1.78212 -6.1173);
}

.dark .toastui-editor-contents h1,
.dark .toastui-editor-contents h2,
.dark .toastui-editor-contents h3,
.dark .toastui-editor-contents h4,
.dark .toastui-editor-contents h5,
.dark .toastui-editor-contents h6,
.dark .toastui-editor-md-heading1,
.dark .toastui-editor-md-heading2,
.dark .toastui-editor-md-heading3,
.dark .toastui-editor-md-heading4,
.dark .toastui-editor-md-heading5 .dark .toastui-editor-md-heading6 {
  color: #f9fafb;
}

.dark .toastui-editor-contents p,
.dark .toastui-editor-md-container div,
.dark .toastui-editor-md-container span {
  color: #e4e4e7;
}

/* 링크 */
.dark .toast-editor .toastui-editor-contents a {
  color: #60a5fa;
}

/* 인라인 코드 */
.dark .toast-editor .toastui-editor-contents code {
  background: #1e293b;
  color: #facc15;
}

/* 코드블록 */
.dark .toast-editor .toastui-editor-contents pre {
  background: #020617;
  color: #e5e7eb;
}

/* 인용 */
.dark .toast-editor .toastui-editor-contents blockquote {
  border-left: 4px solid #475569;
  color: #cbd5f5;
}

/* 테이블 */
.dark .toast-editor .toastui-editor-contents table {
  border-color: #334155;
}
.dark .toast-editor .toastui-editor-contents th,
.dark .toast-editor .toastui-editor-contents td {
  border-color: #334155;
}
.dark .toast-editor .toastui-editor-contents th {
  background: #020617;
}

/* 팝업 */
/* .dark .toastui-editor-popup {
  border-color: lab(35.1166% 1.78212 -6.1173);
} */

.dark .toastui-editor-popup-body {
  color: #111;
}
