@import "tailwindcss";

@layer utilities {
  .font-bmhanna {
    font-family: var(--font-bmhanna);
  }

  .font-noto-sans {
    font-family: var(--font-noto-sans);
  }
}

@theme {
  --color-mint: #00a495;
}

@media (max-width: 768px) {
  .toastui-editor-popup {
    position: fixed !important;
    inset: 12px !important;
    margin: auto !important;

    width: auto !important;
    max-width: 420px !important;

    height: auto !important;
    max-height: 35vh !important;
    overflow: hidden !important;
    box-sizing: border-box !important;
  }

  .toastui-editor-popup-body {
    max-height: calc(70vh - 120px) !important;
    overflow-y: auto !important;
  }
}
